* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.main .container {
    text-align: center;
    padding: 80px 0 110px 0;
}

.header {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 70px;
    margin-bottom: 34px;
}

.header::after {
    content: '';
    display: block;
    max-width: 45px;
    height: 4px;
    margin: 0 auto;
    background-color: #dddbdb;
}

.content {
    width: 570px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
}

.first,
.second,
.third,
.fourth {
    display: inline-block;
}

.first,
.second,
.third {
    padding-right: 30px;
}

.position {
    white-space: nowrap;
    margin-top: 53px;
}

.card {
    background-color: transparent;
    width: 1170px;
    height: 268px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }

.modal {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.social {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #18b5dc;
    opacity: 1;
    overflow: hidden;
    transform: rotateY(180deg);
    transition: all .8s ease-in-out;
}

.first:hover .modal {
    transform: rotateY(180deg);
}
.second:hover .modal {
    transform: rotateY(180deg);
}
.third:hover .modal {
    transform: rotateY(180deg);
}
.fourth:hover .modal {
    transform: rotateY(180deg);
}

.name {
    text-align-last: left;
    padding-top: 20px;
}

.modal img {
    display: block;
    overflow: hidden;
}
.name span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.social .fab {
    color: white;
    font-size: 24px;
    line-height: 30px;
    fill: white;
    background-color: #5ecbe7;
    width: 50px;
    padding: 10px 0;
    margin-right: 2px;
}

.social .fa-twitter,
.social .fa-facebook-f,
.social .fa-google-plus-g {
    transform: translateY(-100px) rotate(-180deg);
}

.social .fa-twitter {
    transition: transform .3s ease-in-out .2s;
}

.social .fa-facebook-f {
    transition: transform .3s ease-in-out .5s;
}

.social .fa-google-plus-g {
    transition: transform .3s linear .8s;
}

.modal:hover .social .fa-twitter,
.modal:hover .social .fa-facebook-f,
.modal:hover .social .fa-google-plus-g {
    transform: translate(0, 120px) rotate(360deg);
}
